<hr />

    <footer>
        <p>
            Poster Design created by myself.
            <a  href="https://www.freepik.com/free-psd/poster-with-tape-mockup_11024082.htm#page=1&query=poster%20mockup&position=35" > 
                Poster Mockup used by Vectorium / Freepik </a>
            <br> 
            Connect with us at: <a href="mailto:admin@jennysbookstore.com">Email</a> | <a href="https://www.facebook.com/geekyathlete">Facebook</a> | <a href="https://www.instagram.com/geekyathlete.official">Instagram</a> | <a href="https://www.twitter.com">Twitter</a> 
        </p>
    </footer>
</html>
