<div class="row valign-wrapper nav-wrapper" style="margin-top: 10px">
    <div class="col m3">
        <div class="left-align">
            <!-- <a href="/">
                <img src="../img/jennys-logo.png" width="90px" alt="Jenny's Bookstore Logo" />
            </a> -->
        </div>
    </div>
    <div class="col m6"> 
        <a class="website-logo logo" href="/">
            <div class="center-align ">GEEKYATHLETE DESIGNS</div>
        </a>
    </div>
    <div class="col m3 nav-bar-link">
        <ul style="list-style-type: none; margin: 0; padding: 0;">
            <!-- <li>
                <a href="/shop">Shop</a>
            </li> -->
            <li >
                <a class="nav-link" href="/orders">Orders</a>
            </li>
            
        </ul>
    </div>
</div>
<hr />