<!-- 
    AUthor: Uday Saini
    StudentID: 7982366
    Conestoga College
 -->
<%- include('layouts/header'); -%>

<body>
    <div>
        <%- include('layouts/nav'); -%>

        <div class="container">
            <section class="header-two" style="margin-top: 50px">
                <header class="row">
                    <div class="col m6 s6 home-header">
                        <h2 class="title-text">Be Curious. Not Judgemental</h3>
                        <h4 class="indigo-text text-darken-4 desc-text">Our brand offers custom posters in best quality using latest revolutionary paper technology, bound to change your mood and uplift your spirit.</h5>
                        <a class="waves-effect waves-light btn-large indigo darken-4" href="/shop">VISIT SHOP</a>
                    </div>

                    <div class="m6">
                        <img src="img/products/becuriousnotjudgemental_shadow.png" width="450px" alt="Jenny's Landing Page Book" />
                    </div>
                </header>
            </section>

            <br /><br />
        </div>
    </div>
</body>
<%- include('layouts/footer'); -%>
